.App {
  display: flex;
  justify-content: center;
  margin-top: 19vh;
}

.drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.drum-pad {
  border: 2px solid blue;
  box-shadow: 1px 2px;
  padding: 20px;
  margin: 20px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}